.hero {
  position: relative;

  padding-top: 160px;
  padding-bottom: 50px;

  border-bottom: 1px solid var(--darkgrey);

  @include mobile {
    position: relative;

    height: 100vh;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-self: center;

    padding-top: 0;
    padding-bottom: 0;
  }

  & .container {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      align-items: start;

      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  pointer-events: none;
  z-index: 2;
}

.hero-mp__image {
  width: clamp(80px, 16vw, 125px);

  margin-bottom: 2rem;

  @include mobile {
    width: clamp(80px, 11vw, 125px);
    margin-bottom: 1.8rem;
  }

  z-index: 2;
}

.hero__title {
  text-align: center;
  font-size: clamp(32px, 8.8vw, 42px);
  text-align: center;
  font-weight: 700;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);

  margin-bottom: 1.5rem;

  z-index: 2;

  & .emp {
    font-size: clamp(36px, 10vw, 54px);
    color: var(--green);
  }

  @media screen and (min-width: 480px) {
    font-size: 46px;

    & .emp {
      font-size: 54px;
    }
  }

  @include mobile {
    text-align: left;

    max-width: 816px;
    font-size: clamp(1.8rem, 7vw, 5rem);

    @media screen and (max-width: 1234px) {
      max-width: 650px;
      font-size: 5.2vw;
    }

    & .emp {
      font-size: 1.25em;
      color: var(--green);
      line-height: 0.8;
    }
  }
}

.hero__text {
  font-size: 2.5vw;
  text-align: center;
  max-width: 70%;
  line-height: 1.3;
  color: var(--grey);
  font-weight: 500;
  margin-bottom: 1.8em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

  @include mobile {
    text-align: left;
    max-width: 80%;
    font-size: clamp(0.5rem, 1.6vw, 1.15rem);
    line-height: 1.3;
    color: var(--lightgrey);

    @media screen and (min-width: 900px) and (max-width: 1000px) {
      max-width: 500px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 1rem;
    }
  }

  z-index: 2;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  background-image: url(..//..//images/button-background/button.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 139px;
  height: 42px;

  color: var(--black);

  @include mobile {
    width: clamp(125px, 25vw, 280px);
    height: clamp(38px, 7.59vw, 85px);

    font-size: clamp(1.5em, 3.4vw, 2.5em);
  }

  z-index: 2;
}

.hero-scrolling__wrapper {
  @media screen and (max-width: 899px) {
    display: none;
  }

  position: absolute;
  right: 9%;
  width: 25vw;
  height: auto;
}
