.hero {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(..//../images/hero/hero-mobile.jpg);
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 680px) {
  .hero {
    background-image: url(..//../images/hero/hero-smalldesktop.jpg);
  }
}

.hero {
  @include tablet {
    justify-content: start;
    padding-left: 45px;
    padding-bottom: 200px;
  }

  @include big-desktop {
    background-image: url(..//../images/hero/hero-desktop.jpg);
    padding-bottom: 250px;
  }
}

.hero-title__mobile {
  position: absolute;
  // top: 15%;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  // text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8), 0px 0px 15px rgba(0, 0, 0, 0.6);

  text-shadow: 4px 4px 10px rgba(0, 0, 0, 1), 0px 0px 15px rgba(0, 0, 0, 1);

  line-height: 1;
  width: 85%;
  // font-size: 8vw;
  font-size: 10vw;
  text-align: center;

  @include tablet {
    display: none;
  }
}

.hero-title__mobile-emp {
  // font-size: 9.4vw;
  font-size: 10.5vw;
}

.hero-title__desktop {
  display: none;

  @include tablet {
    line-height: 1;
    display: block;
    width: 44%;
    font-size: 5vw;
  }

  @include small-desktop {
    width: 48%;
    font-size: 4.4vw;
  }
}

.hero-title__desktop-emp {
  @include tablet {
    font-size: 5.8vw;
  }

  @include small-desktop {
    font-size: 5vw;
  }
}
