.reviews {
  padding-top: 50px;
  padding-bottom: 50px;

  border-bottom: 1px solid var(--darkgrey);

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 30px;
    padding-right: 30px;

    @media screen and (min-width: 1024px) {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

.reviews-title__desktop {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;

    font-size: 32px;
    font-weight: 700;
    text-align: center;

    margin-bottom: 30px;
  }

  @media screen and (min-width: 900px) {
    font-size: 38px;

    margin-bottom: 35px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 42px;

    margin-bottom: 40px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 46px;

    margin-bottom: 45px;
  }
}

.reviews-title__mobile {
  font-size: clamp(32px, 8.8vw, 42px);
  font-weight: 700;
  text-align: center;
  margin-bottom: 25px;

  @media screen and (min-width: 480px) {
    font-size: 46px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.reviews-title__desktop .emp {
  color: var(--green);

  font-size: 1.15em;
}

.reviews-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 30px;

  margin-bottom: 50px;

  @include mobile {
    flex-direction: row;
  }
}

.reviews-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  border-radius: 15px;

  width: 100%;
  height: 180px;

  background: radial-gradient(circle at top, #3a3939, #0f0f0f);

  @media screen and (min-width: 480px) {
    width: 80%;
    height: 160px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 250px) / 2);
    height: 300px;
  }
}

.reviews-text {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;

  @include mobile {
    font-size: clamp(16px, 2vw, 22.4px);
  }
}

.reviews-creator__wrap {
  display: flex;
  align-items: center;
}

.reviews-creator {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--darkgrey);
  margin-right: 15px;

  @include mobile {
    width: 56px;
    height: 56px;
  }
}

.reviews-name {
  font-size: 12px;
  color: var(--lightgrey);

  @include mobile {
    font-size: clamp(14px, 2vw, 18.4px);
  }
}

.reviews-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(..//..//images/button-background/button.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  aspect-ratio: 3 / 1;
  padding: 15px;

  font-size: clamp(24px, 10vw, 32px);
  color: var(--black);

  @media screen and (min-width: 480px) {
    width: 150px;
    height: 50px;

    font-size: 32px;
  }

  @media screen and (min-width: 768px) {
    width: 150px;
    height: 50px;

    font-size: 28px;
  }

  @media screen and (min-width: 900px) {
    width: 174px;
    height: 58px;

    font-size: 34px;
  }

  @media screen and (min-width: 1024px) {
    width: 207px;
    height: 69px;

    font-size: 41px;
  }

  @media screen and (min-width: 1200px) {
    width: 231px;
    height: 77px;
    font-size: 45px;
  }

  cursor: pointer;
}
