.waitlist {
  padding-top: 60px;
}

.waitlist .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include small-mobile {
  }

  @include big-mobile {
  }

  @include tablet {
  }

  @include small-desktop {
  }

  @include big-desktop {
    flex-direction: row;
    gap: 120px;
  }
}

.waitlist .container .waitlist-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.waitlist-form {
  width: 100%;
  padding: 15px;

  @include small-mobile {
  }

  @include big-mobile {
  }

  @include tablet {
  }

  @include small-desktop {
  }

  @include big-desktop {
    width: calc((100% - 120px) / 2);
  }
}

.waitlist-form__title {
  font-weight: 700;
  line-height: 1;
  margin-left: 9px;
  margin-bottom: 10px;
  font-size: 24px;

  @include small-mobile {
  }

  @include big-mobile {
    font-size: 36px;
  }

  @include tablet {
    width: 90%;
    font-size: 48px;
  }

  @include small-desktop {
    font-size: 36px;
  }

  @include big-desktop {
    font-size: 48px;
  }
}

.waitlist-form__title-emp {
  @include small-mobile {
    font-size: 28px;
  }

  @include big-mobile {
    font-size: 42px;
  }

  @include tablet {
    font-size: 56px;
  }

  @include small-desktop {
    font-size: 40px;
  }

  @include big-desktop {
    font-size: 56px;
  }
}

// .waitlist-form__text {
//   margin-left: 9px;
//   margin-bottom: 15px;
//   font-weight: 700;
// }

.waitlist-video {
  display: flex;
  align-items: center;
  width: 90%;

  @include small-mobile {
  }

  @include big-mobile {
  }

  @include tablet {
    width: 70%;
  }

  @include small-desktop {
    width: 50%;
  }

  @include big-desktop {
    width: calc((100% - 120px) / 2);
  }
}

.waitlist-video__player {
  width: 90%;
}
