.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    display: block;
    margin-bottom: 50px;
  }
}

.footer-logo__left {
  font-size: 28px;
  font-weight: 700;
  color: var(--white);
}

.footer-logo__right {
  font-size: 32px;
  color: var(--green);
}

.footer-socials__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 50px;
}

.footer-socials__image {
  width: 60px;
  height: 60px;
}

.footer-terms__link {
  color: var(--white);
}
